In [87]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import OneHotEncoder, StandardScaler 
from sklearn.compose import ColumnTransformer

ModuleNotFoundError: No module named 'sklearn'

In [76]:
data=pd.read_csv(r'D:\foodsales\NoteBook\Data\dataset.csv')
data.head(5)

,No,Date,C/code,Customer_name,Customer_address,Item_code,Product_name,Orignal_price,CTN,PCS,Total_discount,Discount_price,PCS_in_CTN,Price_per_PCS,Discount_per_piece,Month,Price Range,Has_Discount
0,3,2021-09-10,9295,BIG BITE FAST FOOD,WARSAK ROAD,1770,DEEN'S CHADDER CHEESE BLOCK 2K,14500,1,10,1000,13500,10,1450.0,100.0,9,Low,1
1,3,2021-09-10,9295,BIG BITE FAST FOOD,WARSAK ROAD,1771,DEEN'S MOZRELLA CHEESE BLOCK,19250,0,5,375,9250,10,1925.0,75.0,9,Low,1
2,4,2021-09-10,8992,PIZZA FLAME,IBRAHIM MARKET,1770,DEEN'S CHADDER CHEESE BLOCK 2K,14500,0,2,200,2700,10,1450.0,100.0,9,Low,1
3,4,2021-09-10,8992,PIZZA FLAME,IBRAHIM MARKET,1771,DEEN'S MOZRELLA CHEESE BLOCK,19250,0,2,150,3700,10,1925.0,75.0,9,Low,1
4,5,2021-09-10,9903,CHIL & GRILL 0312.9553655,MOHMAD ZAI,1770,DEEN'S CHADDER CHEESE BLOCK 2K,14500,0,2,200,2700,10,1450.0,100.0,9,Low,1

In [77]:
data.shape

(7263, 18)

In [78]:
data.isna().sum()

No                    0
Date                  0
C/code                0
Customer_name         0
Customer_address      0
Item_code             0
Product_name          0
Orignal_price         0
CTN                   0
PCS                   0
Total_discount        0
Discount_price        0
PCS_in_CTN            0
Price_per_PCS         0
Discount_per_piece    0
Month                 0
Price Range           0
Has_Discount          0
dtype: int64

In [79]:
data.duplicated().sum()

2

In [80]:
data.nunique()

No                    3295
Date                   372
C/code                 221
Customer_name          214
Customer_address       131
Item_code               14
Product_name            16
Orignal_price           43
CTN                     10
PCS                     35
Total_discount         334
Discount_price         724
PCS_in_CTN               8
Price_per_PCS           43
Discount_per_piece     254
Month                   12
Price Range              3
Has_Discount             2
dtype: int64

In [81]:
data.head(2)

,No,Date,C/code,Customer_name,Customer_address,Item_code,Product_name,Orignal_price,CTN,PCS,Total_discount,Discount_price,PCS_in_CTN,Price_per_PCS,Discount_per_piece,Month,Price Range,Has_Discount
0,3,2021-09-10,9295,BIG BITE FAST FOOD,WARSAK ROAD,1770,DEEN'S CHADDER CHEESE BLOCK 2K,14500,1,10,1000,13500,10,1450.0,100.0,9,Low,1
1,3,2021-09-10,9295,BIG BITE FAST FOOD,WARSAK ROAD,1771,DEEN'S MOZRELLA CHEESE BLOCK,19250,0,5,375,9250,10,1925.0,75.0,9,Low,1

In [82]:
data.dtypes

No                      int64
Date                   object
C/code                  int64
Customer_name          object
Customer_address       object
Item_code               int64
Product_name           object
Orignal_price           int64
CTN                     int64
PCS                     int64
Total_discount          int64
Discount_price          int64
PCS_in_CTN              int64
Price_per_PCS         float64
Discount_per_piece    float64
Month                   int64
Price Range            object
Has_Discount            int64
dtype: object

In [83]:
categorical_data=[feature for feature in data.columns if data[feature].dtype=='O']
numerical_data= [feature for feature in data.columns if data[feature].dtype!='O']


categorical_data

['Date', 'Customer_name', 'Customer_address', 'Product_name', 'Price Range']

In [86]:
from sklearn.preprocessing import OneHotEncoder, StandardScaler 
from sklearn.compose import ColumnTransformer
cat_transformer= OneHotEncoder()
num_transformer=StandardScaler()

preprocessor= ColumnTransformer(
    [
        ("OneHotEncode",cat_transformer,categorical_data),
        ("StandardScaler",num_transformer,numerical_data),
    ]

)

ModuleNotFoundError: No module named 'sklearn'